<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home </title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/index.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  </head>

  <body>
    <%- include('partials/_nav') %>
    <h1>Hello World!</h1>
    <a href= '/map'><button type="submit" class="btn" >MAP</button></a>


    <!-- scripts -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </body>
</html>
