<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home</title>

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap" rel="stylesheet">
    <script
      src="https://kit.fontawesome.com/7aa139eb66.js"
      crossorigin="anonymous"
    ></script>

    <!-- STYLES -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav-bar.css" type="text/css" />
    <link rel="stylesheet" href="/styles/side-bar.css" type="text/css" />
    <link rel="stylesheet" href="/styles/create.css" type="text/css" />
    <link rel="stylesheet" href="/styles/points.css" type="text/css" />
    <link rel="stylesheet" href="/styles/edit.css" type="text/css" />

    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://unpkg.com/@google/markerclustererplus@4.0.1/dist/markerclustererplus.min.js"></script>
  </head>

  <nav>
    <span id="logo"><i class="fas fa-map-signs fa-lg"></i>MAPTIME</span>


    <ul class="nav-links">
    <% if (!userLogin) { %>

      <li id="users">
        <a href="/login?user=Emily"> Login </a>
    <% } else { %>
      <li id="create">Create New Map</li>
      <li id="my-maps">My Maps</li>
      <li> <%=userLogin%></li>
      <li><a href="/logout"> Logout </a></li>
    <% } %>

      </li>
    </ul>
  </nav>

  <body>
    <!-- GOOGLE MAP -->
    <div id="map"></div>

    <!-- SIDE NAV BAR -->

    <section id="side-bar">
      <!-- Maps list is populated in this section -->
    <section id="#points-container" class="items"></section>
    </section>

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/helpers.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/mapApi.js"></script>
    <script type="text/javascript" src="/scripts/favourites.js"></script>
    <script type="text/javascript" src="/scripts/map.js"></script>

    <!-- google api -->
    <!-- <script
      type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1uLHminQZbnRgB_H7SikYehIPfJvEUGo&callback=initMap">
    </script> -->
    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1uLHminQZbnRgB_H7SikYehIPfJvEUGo&callback=initMap&libraries=&v=weekly"
    async
  ></script>
  </body>
</html>
