$color1: rgb(50, 125, 160);
$color2: rgb(155, 149, 35);
$color3: rgb(62, 206, 187);
$color4: rgb(111, 81, 180);
$color5: rgba(230, 235, 224, 1);
$shadow: 0.2em 0.2em 0 0 $color4;

body {
  #new-map_form {
    background-color: $color1;
    color: $color5;
    font-size: 1.2em;
    box-shadow: $shadow;
  }
  div {
    form {
      color: $color4;
      .btn {
        z-index: 10;
        background-color: $color2;
        color: $color4;
        box-shadow: $shadow;
      }
    }
  }
  footer{
    #new-map_button {
      background-color: $color1;
      color: $color5;
      box-shadow: $shadow;
    }
    #new-map_button:hover {
      color: $color1;
      background-color: $color3;
    }
    #new-map_button:active {
      box-shadow: none;
    }
  }
}
