#side-bar {
  height: 92vh;
  width: 25vw;
  margin-top: 10vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #566861;
  background-image: url("https://www.transparenttextures.com/patterns/foggy-birds.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #FFFF;
}

#side-bar h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #FFFF;
  font-size: 1em;
  padding: 10px;
  font-weight: 400;
}

#side-bar .map-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;

}

#side-bar .point-btn {
  border: 0;
  background-color: transparent;
  outline: none;
  color: #FFFF;
  font-size: 1em;
  cursor: pointer;

}

#side-bar .point-btn:hover {
  color: #c4ac7c;
  text-shadow: 0px 3px 3px #2b3430;
}

#side-bar .edit {
  padding-right: 1em;
  border: 0;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

#side-bar .delete {
  border: 0;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

#side-bar .new-map {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  cursor: pointer;
  color: #FFFF;
}
